<a href="https://colab.research.google.com/github/Mihir-Ai-lab/Insaid/blob/main/PythonBasics_5_1531630575350.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Python Basics<center/> 
<img height="60" width="120" src="https://www.python.org/static/img/python-logo-large.png?1414305901"></img>

# <center>Data types in depth</center>

# Table of contents
<br/>

<a href = "#14.-Lists">14. Lists</a><br/>
<a href = "#15.-Tuples">15. Tuples</a><br/>
<a href = "#16.-Sets">16. Sets</a><br/>
<a href = "#17.-Dictionary">17. Dictionary</a><br/>
<a href = "#18.-Strings">18. Strings</a><br/>

The most basic **DATA STRUCTURE** in Python is the **sequence**. Each element of a <u>sequence is assigned a number</u> - its **position or index**. <br/>
The first index is <i>zero, the second index is one, and so forth</i>.

Popular sequences in python are **Lists, Tuples, Sets, Dictionary and Strings**.

The popular operations include **indexing, slicing, adding, multiplying, and checking for membership**. In addition, Python has built-in functions for finding the **length** of a sequence and for finding its **largest and smallest elements**.

# 14. Lists

Points to remeber:

<ul>
    <li>Lists are collection of items (Strings, integers or even other lists)</li>
    <li>Lists are enclosed in [ ]</li>
    <li>Every item in a list has an assigned index value.</li>
    <li>Each item in a list is separated by a comma</li>
    <li>Lists are mutable, which means they can be changed.</li>
</ul>

## 14.1 How to create a List

In [ ]:
blankList = []                                      # Declare an empty List

listOfString = ['apple','banana']                  # List of strings

listOfNumbers = [12, 7.6,30,64]                   # List of integers

listOfList = [[45, 3.2],[12, 4.2]]                  # List of lists

listOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]     # List of different datatypes

print(listOfList)

[[45, 3.2], [12, 4.2]]

## 14.2 Finding the Length of the List

In [ ]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

print(len(listOfMixedDataTypes))                      # Use the len function

4

## 14.3 Add an element to the end of the List - Append

In [ ]:
listOfNumbers = [12, 7.6, 30, 64] 

listOfNumbers.append('Appended Element')             # append function will add the item at the end

print(listOfNumbers)

[12, 7.6, 30, 64, 'Appended Element']

## 14.4  Insert an element at a particular position in the List

In [ ]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

listOfMixedDataTypes.insert(2,'Gates')              # Will add 'Gates' at location 2

print(listOfMixedDataTypes)              # Use the insert() method

[55.4, 'Bill', 'Gates', 232, 14.4]

## 14.5 Remove an item from the List

In [ ]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4, 232]

lstOfMixedDataTypes.remove(232)                   # remove() - removes the first occurence of 232 in the list

print(lstOfMixedDataTypes)

[55.4, 'Bill', 14.4, 232]

## 14.6 List in a List - Append vs Extend

In [ ]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

listOfNumbers = [12, 7.6, 30, 64]

lstOfMixedDataTypes.append(listOfNumbers)                 # Using the append() method

print(lstOfMixedDataTypes)

print(len(lstOfMixedDataTypes))

[55.4, 'Bill', 232, 14.4, [12, 7.6, 30, 64]]
5

In [ ]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

listOfNumbers = [12, 7.6, 30, 64]

lstOfMixedDataTypes.extend(listOfNumbers)                 # Using the extend() method

print(lstOfMixedDataTypes)

print(len(lstOfMixedDataTypes))

[55.4, 'Bill', 232, 14.4, 12, 7.6, 30, 64]
8

## 14.7 Delete an element in a List - del vs pop vs remove

In [ ]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

#del lstOfMixedDataTypes[2]                     # Using del keyword - index
#del lstOfMixedDataTypes[1:3]                  # Using del keyword
print(lstOfMixedDataTypes)


itemDeleted = lstOfMixedDataTypes.pop(1)        # Using pop function - index
print(itemDeleted)

print(lstOfMixedDataTypes)

[55.4, 'Bill', 232, 14.4]
Bill
[55.4, 232, 14.4]

In [ ]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]


lstOfMixedDataTypes.remove(232)                 # Using remove function - value

print(lstOfMixedDataTypes)

[55.4, 'Bill', 14.4]

## 14.8 Membership of List - in and not in

In [ ]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

if 'Bill' in lstOfMixedDataTypes:
    print('Found in list')
    
if 131 not in lstOfMixedDataTypes:
    print('Not in the list')

Found in list
Not in the list

## 14.9 Reversing a list - reverse

In [ ]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

print(lstOfMixedDataTypes)

lstOfMixedDataTypes.reverse()

print(lstOfMixedDataTypes)

[55.4, 'Bill', 232, 14.4]
[14.4, 232, 'Bill', 55.4]

## 14.10 Sorting a list

Sort a List is using sorted(list) function. 

The function returns a new list with the elements in ascending order. 

The original list is not changed. 

Use the optional argument reverse=True, e.g. sorted(yourList, reverse=True), 
makes it sort backwards.

In [ ]:
myList = [29, 12, 4, 7, 12]

sorted_list = sorted(myList)
#lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]          # Sort only compatible types
#sorted_lst = sorted(lstOfMixedDataTypes)

print(sorted_list)

print(myList)                          # Original list is unchanged

[4, 7, 12, 12, 29]
[29, 12, 4, 7, 12]

In [ ]:
print("Reverse sorted list :", sorted(myList, reverse=True))  # Reverse sort a list

print(myList)                                                 # The orginal list remains unchanged

Reverse sorted list : [29, 12, 12, 7, 4]
[29, 12, 4, 7, 12]

In [ ]:
myList = [29, 12, 4, 7, 12]                       # Reverse and change the original list
myList.sort()

print(myList)

[4, 7, 12, 12, 29]

## 14.11 Multiple References to a List

In [ ]:
myList = [1, 2, 3, 4, 5]
newRef = myList
newRef.append(6)

print('Original list: ', myList)

Original list:  [1, 2, 3, 4, 5, 6]

## 14.12 Split a String to create a list

In [ ]:
myString = "apple,banana,grapes"
splitList = myString.split(',')
print(splitList)

['apple', 'banana', 'grapes']

In [ ]:
myString = "Let us split this string"
splitList = myString.split()                   # By default split is on - space or tab
print(splitList)

['Let', 'us', 'split', 'this', 'string']

## 14.13 Indexing in a List

Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [ ]:
myList = [29, 12, 4, 7, 12]

print(myList[0])                       # Access the first element from start

print(myList[-1])                      # Access the elements from the last

29
12

## 14.14 List Slicing

Accessing parts of segments is called slicing. 

Slicing is done using colon (**:**) symbol

Start index:End Index

Value at start index is included but not the value at end index.

In [ ]:
listOfItems = [43, 2, 'Hundred', 13, 'Four',12 ,100]

print(listOfItems[:])                                # Empty indicates from start : to end

print(listOfItems[0:3])                              # Elements from index 0 to one index less than index 3

[43, 2, 'Hundred', 13, 'Four', 12, 100]
[43, 2, 'Hundred']

In [ ]:
print (listOfItems)

print(listOfItems[::2])                                  # Stride for skipping elements

print(listOfItems[2::2])                                 # print elemnts start from 0 through rest of the list

[43, 2, 'Hundred', 13, 'Four', 12, 100]
[43, 'Hundred', 'Four', 100]
['Hundred', 'Four', 100]

## 14.15 Extend a List using "+"

In [ ]:
listOfItems1 = [43, 2, 'Hundred', 13, 'Four',12 ,100]
listOfItems2 = ['Hello', 19, 'One', 11]
joinedList = listOfItems1 + listOfItems2 

print(joinedList)

[43, 2, 'Hundred', 13, 'Four', 12, 100, 'Hello', 19, 'One', 11]

## 14.16 Count an item in a List

In [ ]:
listOfItems3 = [12, 43, 2, 'Hundred', 13, 'Four',12 ,100]

print(listOfItems3.count(12))                           # Count number of 12 in the list

print(listOfItems3.count('Hundred'))                    # Count number of 'Hundred' in a list

2
1

## 14.17 Looping in List

In [ ]:
listOfItems3 = [12, 43, 2, 'Hundred', 13, 'Four',12 ,100]

for element in listOfItems3:
    print(element)

12
43
2
Hundred
13
Four
12
100

## 14.18 List Comprehensions

List comprehensions provide a concise way to create lists.<br/>
This can be thought of a process that makes it easier to create lists.

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [ ]:
myList = []               # Normal way to create an empty List

for i in range(4): # Append the squared element to the list
    myList.append(i**2)
print(myList)

[0, 1, 4, 9]

In [ ]:
# Simlify using list comprehension
myList = [i**2 for i in range(4)]
print(myList)

[0, 1, 4, 9]

## 14.19 Nested List Comprehensions

In [ ]:
matrix = [[0, 1, 2],
          [0, 1, 2],
          [0, 1, 2],
          [0, 1, 2]]

sameList = []                         # Recreate the above matrix in the normal way
for i in range(4):
    rowList = []
    for j in range(3):
        rowList.append(j)
    sameList.append(rowList)
print(sameList)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
myMatrix = []
[myMatrix.append([j for j in range(3)]) for i in range(4)]       # Reconstruct the matrix using list comprehension
print(myMatrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

#### Excercise: Perform the below list operations

In [ ]:
myList = [1, 2, 3, 4, 5, 6, 8]

newList = [i**2 for i in myList]                                    # Square the values of myList and store in a new list
print(newList)

newList = [(i,i) for i in myList]                                   # Make a combination of x and x values e.g. (x,x)
print(newList)

newList = [even for even in myList if even%2 == 0 and even != 2]     # Store only the even numbers greater than 2
print(newList)

newList = []
[newList.append([(i+j)/2 for j in range(0,3)]) for i in range(1,10,3)]    # Create a 3*3 matrix that stores half of number from 1 to 9

print(newList)

[1, 4, 9, 16, 25, 36, 64]
[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (8, 8)]
[4, 6, 8]
[[0.5, 1.0, 1.5], [2.0, 2.5, 3.0], [3.5, 4.0, 4.5]]

<center> <h1>End of LIST section</h1> </center>

# 15. Tuples

A tuple is very similar to a list

But tuples are immutable i.e. we can't change the elements of tuple once it is assigned <br/>
whereas in a list, elements can be changed

## 15.1 Creating a Tuple

In [ ]:
emptyTuple = ()                      # Create an empty tuple

myNmberTuple = (12.2, 100, 12)      # Create a tuple having numbers
print(myNumberTuple)

myMixedTuple = ('x', 'y', 100, 'h')  # Create a mixed data types tuple
print(myMixedTuple)

myNestedTuple = ('Hello', 100, ('Welcome', 12, 11), [90,'same',26,'array'])     # Create a nested tuple
print(myNestedTuple)

(12.2, 100, 12)
('x', 'y', 100, 'h')
('Hello', 100, ('Welcome', 12, 11), [90, 'same', 26, 'array'])

In [ ]:
isItTuple = ('Suchit')               # Only parenthesis is not enough
print(type(isItTuple))

<class 'str'>

In [ ]:
isItTuple = ('Suchit',)              # Put a comma at the end to denote Tuple
print(type(isItTuple))

<class 'tuple'>

In [ ]:
isItTuple = 'Suchit',                # Parenthesis is optional
print(type(isItTuple))

print(isItTuple)

<class 'tuple'>
('Suchit',)

### Accessing Elements in Tuple

In [ ]:
myTuple = ('Suchit', 'Rakesh', 'Roshni', 'Shireen')

print(myTuple[3])

Shireen

In [ ]:
print(myTuple[-1])                            # Printing the last element in a tuple - Negative index

Shireen

In [ ]:
myTuple = ('Suchit', ('Rakesh', 'Roshni', 'Shireen'))       # Nested tuple

print(myTuple[1])

('Rakesh', 'Roshni', 'Shireen')

In [ ]:
print(myTuple[1][2])

Shireen

In [ ]:
myTuple = (10,11,12,13,14,15)

print(myTuple[2:5])                           # Slicing elements

print(myTuple[-3:])                           # Print elements from starting to 3rd last elements

print(myTuple[:])                             # Print all elements

(12, 13, 14)
(13, 14, 15)
(10, 11, 12, 13, 14, 15)

### Altering the values in a Tuple

#### Tuples are immutable i.e. once set their values cannot be changed
#### But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [ ]:
myTuple = (11, 22, 33, 44, [55, 66, 77])                       # Creating tuple

myTuple[1] = 'x'                                               # Error: TypeError

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(id(myTuple))
myTuple[4][2] = 'Suchit'                       # List is mutable hence value can be altered
print(id(myTuple))
print(myTuple)

2017773032816
2017773032816
(11, 22, 33, 44, [55, 66, 'Suchit'])

In [ ]:
#concatinating tuples

myTuple = (11, 22, 33) + (44, 55, 66)
print(myTuple)

(11, 22, 33, 44, 55, 66)

In [ ]:
myTuple = (('Suchit', ) * 4)                     # Repeat items using * operator.
print(myTuple)

('Suchit', 'Suchit', 'Suchit', 'Suchit')
<class 'tuple'>

### Deleting from a tuple

In [ ]:
# Since tuple is immutable hence the entire tuple needs to be deleted using del keyword

myTuple = (3, 'Suchit', 45, 11, 'tree', 34)

del myTuple                                      # Delete the entire tuple

### Count occurance of an item in Tuple

In [ ]:
myTuple = ('Suchit', 244, 'Suchit', 412, 'tree', 28, 11, 2)

myTuple.count('Suchit')     # Frequency of particular element in a tuple

2

### Tuple Index - Get the index position of an item

In [ ]:
myTuple = ('Suchit', 244, 'Suchit', 412, 'tree', 28, 11, 2)

print(myTuple.index(11))                  # Returns index of the first element equal to 11

print(myTuple[6])                         # Print element at index 6

6
11

### Memebership in Tuple

In [ ]:
myTuple = ('Suchit', 244, 'Suchit', 412, 'tree', 28, 11, 2)

print(244 in myTuple)                                              # Check if an item exists in a tuple

True

In [ ]:
print('Sam' in myTuple)

False

## Apply common built-in Functions on Tuple

#### Lenght of a Tuple

In [ ]:
myTuple = ('Suchit', 244, 'Suchit', 412, 'tree', 28, 11, 2)
print(len(myTuple))

8

#### Sorting in Tuple

In [ ]:
#myTuple = ('Suchit', 244, 'Suchit', 412, 'tree', 28, 11, 2)
myTuple = (12,3,44,245,0.2,33)
print(myTuple)

sortedTuple = sorted(myTuple)                       # Returns a new sorted list. Does not change original tuple
print(sortedTuple)

(12, 3, 44, 245, 0.2, 33)
[0.2, 3, 12, 33, 44, 245]

In [ ]:
myNumberTuple = (12,3,44,245,0.2,33)

print(max(myNumberTuple))                           # Largest element in a tuple

print(min(myNumberTuple))                           # Smallest element in a tuple

245
0.2

In [ ]:
print(sum(myNumberTuple))                           # Sum of elments in the tuple

337.2

# 16. Sets

<ul><li>A set is an <b>unordered</b> collection of items. Every element is <b>unique</b> (no duplicates).</li>
<li>Set is <b>mutable</b>. We can add or remove items to a Set.</li>
<li>Sets can be used to perform mathematical <b>set operations</b> <i>like union, intersection, symmetric difference etc</i>.</li></ul>

### Creating a Set

In [ ]:
mySet = {1,2,3}                          # Curly braces and comma seperated values 
print(mySet)
 
print(type(mySet))                         # type of mySet

In [ ]:
mySet = {1,2,3,1,4}                    # Duplicates not allowed.
print(mySet)

In [ ]:
mySet = set([1,2,3,4,1])                  # We can make set from a list using set() method
print(mySet)

In [ ]:
mySet = set()                              # Initialize a set  with set() method
print(type(mySet))

### Adding element to Set

In [ ]:
mySet = {'a', 56}

mySet.add(5)                           # Add single element using add() method
print(mySet)

mySet.update([2,'r',12])             # Add multiple elements using update() method
print(mySet)

print(mySet[3])                        # set object doesn't support duplicates hence indexing doesn't make sense

In [ ]:
mySet.update([12,'One'],{4,1,5})     # Adding a list and a set to the original set
print(mySet)

### Removing elements from a Set

Methods

- remove()    &nbsp;                     -Raises KeyError if  elem is not contained in the set.
- discard()     &nbsp;                     -Doesn't raises KeyError
<br/><br/>
- pop()        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                     -Removes a random item
- clear()      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                     -Delete the entire Set

In [ ]:
mySet = {11, 12, 13, 14, 15}
print(mySet)

mySet.remove(13)                   # 13 is removed from set mySet
print(mySet)


mySet.discard(14)                    # 14 is removed from set mySet
print(mySet)

{11, 12, 13, 14, 15}
{11, 12, 14, 15}
{11, 12, 15}

In [ ]:
mySet.remove(34)                        # KeyError thrown

KeyError: 34

In [ ]:
mySet.discard(34)                       # KeyError NOT thrown
print(mySet)

{11, 12, 15}

In [ ]:
mySet = {'abc', 12, 'efg', 1, 11}

mySet.pop()                             # Removes a random element

print(mySet)

{'abc', 11, 12, 'efg'}

In [ ]:
mySet.pop()
print(mySet)

{11, 12, 'efg'}

In [ ]:
mySet = {'abc', 12, 'efg', 1, 11}

mySet.clear()                           # Empty all items in

print(mySet)

set()

### Python Set Operations

Operations:

- union

- intersection

- symmetric difference

- subset


<img height="240" width="360" src='https://github.com/suchitmajumdar/LearnPython/blob/master/images/set.png?raw=true'></img>

In [ ]:
mySet1 = {1, 2, 3, 4, 5}
mySet2 = {3, 4, 5, 6, 7}

print(mySet1 | mySet2)              # union of 2 sets using | operator

print(mySet1.union(mySet2))         # Alternately use union() method

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
print(mySet1 & mySet2)              # Intersection of 2 sets using & operator

print(mySet1.intersection(mySet2))  # Alternately use intersection() method

{3, 4, 5}
{3, 4, 5}

In [ ]:
print(mySet1 - mySet2)              # set Difference: set of elements that are only in mySet1 but not in mySet2
print(mySet1.difference(mySet2))    # use differnce() function method

{1, 2}
{1, 2}

In [ ]:
# symmetric difference: set of elements in both mySet1 and mySet2
# except those that are common in both."""

print(mySet1^mySet2)                       # For symmetric difference use ^ operator

print(mySet1.symmetric_difference(mySet2)) # Alternately use symmetric_difference function

{1, 2, 6, 7}
{1, 2, 6, 7}

In [ ]:
a = {1,2,3,4,5,6}
b = {2,4}

print("Is set 'a' a subset of set 'b' ? ", a.issubset(b))          # Check a is subset of b

print("Is set 'b' a subset of set 'a' ? ", b.issubset(a))          # Check b is subset of a

Is set 'a' a subset of set 'b' ?  False
Is set 'b' a subset of set 'a' ?  True

### Frozen Sets

Like tuples are immutable lists, <b>frozen sets</b> are <b>immutable sets</b>

Frozensets can be created using - <b>frozenset()</b>

Sets being mutable are unhashable, so they can't be used as dictionary keys.<br/> On the other hand, frozensets are hashable and can be used as keys to a dictionary.

This datatype supports methods like <b>copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union()</b>. 

Being immutable it does <b>not</b> have method that add or remove elements.

In [ ]:
mySet1 = frozenset([1, 2, 3, 4, 5])
mySet2 = frozenset([4, 5, 6, 7, 8])

mySet1.add(9)                              # Cannot add value to immutable set

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
print(mySet1[4])                           # frozen set doesn't support indexing

TypeError: 'frozenset' object does not support indexing

In [ ]:
print(mySet1 | mySet2)                    # union of 2 sets

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [ ]:
print(mySet1 & mySet2)                    # intersection of two sets

print(mySet1.intersection(mySet2))        # Alernative is to use intersection() method

frozenset({4, 5})
frozenset({4, 5})

In [ ]:
print(mySet1 ^ mySet2)                        # symmetric difference

print(mySet1.symmetric_difference(mySet2))    # Alternative is symmetric_difference() method

frozenset({1, 2, 3, 6, 7, 8})
frozenset({1, 2, 3, 6, 7, 8})

# 17. Dictionary

Python dictionary is an unordered collection of items.<br/>
While other compound data types have <b>only value</b> as an element, a <u>dictionary</u> has a <b>key: value</b> pair.

### Create a Dictionary

In [ ]:
myDict = {}                                                  # Create an empty dictionary

myIntegerKeyDict = {100:'excellent',50:'fair'}
print(myIntegerKeyDict)
 
myMixedKeysDict = {'name':'Suchit', 10:['sun','star']}    # Create a dictionary with mixed keys
print(myMixedKeysDict)


myDict = dict()                                              # Create an empty dictionary using dict() method

myDict = dict([(4,'abcd'),(2,'ab')])                      # Create a dict with list of tuples
print(myDict)

### Dict Access

In [ ]:
myDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

print(myDict['name'])                               # Pass the key to get the value

In [ ]:
print(myDict['score'])                             # Gives KeyError if key not found

In [ ]:
print(myDict.get('hobby'))                          # Alternately use get(key) to access the value

In [ ]:
print(myDict.get('score'))                         # Gives None using get method if key not present

### Add or Modify  Elements in a Dictionary

In [ ]:
myDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

myDict['name'] = 'Rakesh'                                      # Update the value in the key 'name' 
 
print(myDict)

In [ ]:
myDict['division'] = 'A'                                       # Add new key-value pair

print(myDict)

### Delete or Remove Element in a Dictionary

In [ ]:
myDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

print(myDict.pop('marks'))                                     # Remove a particular item - pass the key to pop() method

print(myDict)

In [ ]:
keyValDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

del keyValDict['marks']                               # Delete particular key

print(keyValDict)

In [ ]:
keyValDict.clear()                              # Remove all items

print(keyValDict)

In [ ]:
keyValDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

del keyValDict                                  # Delete dictionary itself

print(keyValDict)                               # NameError because dict is deleted

### Dictionary Methods

In [ ]:
keyValDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

myDict = keyValDict.copy()                                    # copy()
print(myDict)

In [ ]:
# fromkeys[seq[, v]] -> Return a new dictionary with keys from seq and value equal to v (defaults to None).
fruits = {}.fromkeys(['apple','banana','grapes'],0)
print(fruits)

In [ ]:
varDict = {2:4, 3:9, 4:16, 5:25}
print(varDict.items()) #return a new view of the dictionary items (key, value)

In [ ]:
fruits = {'apple': 2, 'banana': 12, 'grapes': 10}

print(fruits.keys())                                      # returns the dictionary keys

print(fruits.values())                                    # returns the dictionary values

In [ ]:
dict = {}
print(dir(dict))                                          # Get list of all available methods and attributes of dictionary

### Comprehension in Dictionary

In [ ]:
fruits = {'apple': 2, 'banana': 12, 'grapes': 10}
for fruit in fruits.items():                       # Same as list comprehensions but here its for dictionaries
    print(fruit)

In [ ]:
fruits = {'apple': 3, 'banana': 12, 'grapes': 10}
fruitsDict = {k:v for k, v in fruits.items() if v%2 == 0}    # Creating a new dictionary with only pairs where the value is even
print(fruitsDict)

In [ ]:
fruits = {'apple': 3, 'banana': 12, 'grapes': 10} 

fruitsDict = {k + '_royal':v * 12 for k, v in fruits.items() if v%2 == 0} # We can also perform operations on the key value pairs
print(fruitsDict)
print(fruits)

# 18. Strings

A string is a <b>sequence of characters</b>.

Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.

This conversion of character to a number is called encoding, and the reverse process is decoding. <a href='https://docs.python.org/3.3/howto/unicode.html'>ASCII and Unicode</a> are some of the popular encoding used.

In Python, string is a sequence of Unicode character.

### Create a String

- By enclosing characters inside a single quote or double quotes. 

- triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [ ]:
myString = 'Single'
print(myString)

myString = "Double"
print(myString)

myString = '''Triple'''
print(myString)

### Access characters in a String

- Access individual characters using indexing and a range of characters using slicing.

- Index starts from 0. 

- Trying to access a character out of index range will raise an IndexError. 

- The index must be an integer. We can't use float or other types, this will result into TypeError.

- Python allows negative indexing for its sequences.

In [ ]:
myString = "Double"

print(myString[0])             # Print first Character

print(myString[1:4])           # Slicing 2nd to 4th character

print(myString[-2])            # Print last character using negative indexing

If we try to access index out of the range or use decimal number, we will get errors.

In [ ]:
print(myString[15])                    # Index should be in available range

In [ ]:
print(myString[1.5])                   # Index should be integer always

### Change or delete a String

Strings are immutable. This means that elements of a string cannot be changed once it has been assigned. 

We can simply reassign different strings to the same name.

In [ ]:
myString = "Double"

myString[0] = 't' # strings are immutable

In [ ]:
del myString # delete complete string

In [ ]:
print(myString)

## String Operations

### Concatenation

Joining of two or more strings into a single one is called concatenation.

- The <b>+</b> operator does this in Python. Simply writing two string literals together also concatenates them.

- The <b>*</b> operator can be used to repeat the string for a given number of times.

In [ ]:
myString1 = "Python "
myString2 = "Programming"

print(myString1 + myString2)        # Concatenation of 2 strings  

print(myString1 * 2)                # Repeat string n times

In [ ]:
charCount = 0
for character in "Python Programming":             # Iterating Through String
    if character == 'P':
        charCount += 1
print('Character count of P is ', charCount)

### String Membership Test

In [ ]:
print('m' in 'Python Programming')                  # in operator to test membership

In [ ]:
print('ro' in 'Python Programming')

### String Methods

Some of the commonly used methods are<br/> 
<b>lower(), upper(), join(), split(), find(), replace() </b>etc

In [ ]:
"Python".lower()                                                      # lower

In [ ]:
"Python".upper()                                                      # upper

In [ ]:
"Split this line into a list".split()                                 # split

In [ ]:
' '.join(['Split', 'this', 'line', 'into', 'a', 'list'])              # join

In [ ]:
"Python Programming".find('mm')                                       # find

In [ ]:
myString1 = "Python Programming"

myString2 = myString1.replace('Programming','Program')                # Replace a word

print(myString1)
print(myString2)

# Python Program to Check where a String is Palindrome or not ?

In [ ]:
#Excercise 1: Reverse a word

originalWord = 'mAlayalam'
reversedWord = ''
for character in originalWord:
    reversedWord = character + reversedWord
print(reversedWord)

#Excercise 2: Check if word is a palindrome?

originalWord = originalWord.lower()
reversedWord = reversedWord.lower()

if originalWord == reversedWord:
    print("Given string is a palindrome")
else:
    print("Given string is NOT a palindrome")
    
#Excercise 3: Sort sentences in Reverse alphabetic Order?

myString = "This is a how reverse sorting works" 

words = myString.split()                         # Breakdown the string into list of words

words.sort(reverse=True)                         # Reverse sort the list


revString = ''                              # Concate the words into a sentence
for word in words:
    revString += word + ' '
print(revString)