<p align="center"><img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="260" height="110" /></p>

---
# **Table of Contents**
---

1. [**Introduction**](#Section1)<br>
2. [**Problem Statement**](#Section2)<br>
    2.1 [**Project Details**](#Section21)<br>
3. [**Installing & Importing Libraries**](#Section3)<br>
    3.1 [**Installing Libraries**](#Section31)<br>
    3.2 [**Upgrading Libraries**](#Section32)<br>
    3.3 [**Importing Libraries**](#Section33)<br>
4. [**Data Acquisition & Description**](#Section4)<br>
    4.1 [**Data Description**](#Section41)<br>
    4.2 [**Data Information**](#Section42)<br>
5. [**Data Pre-Profiling**](#Section5)<br>
6. [**Data Pre-Processing**](#Section6)<br>
7. [**Data Post-Profiling**](#Section7)<br>
8. [**Exploratory Data Analysis**](#Section8)<br>
    8.1 [**Which Region has more HNI's??**](#Section81)<br>
    8.2 [**What Age group has more HNI's?**](#Section82)<br>
    8.3 [**How is Occupation related to net worth?**](#Section83)<br>
    8.4 [**How is Insurance related to net worth?**](#Section84)<br>
    8.3 [**What are the Portfolio balances of HNI's?**](#Section83)<br>
9. [**Summarization**](#Section9)<br>
    9.1 [**Conclusion**](#Section91)<br>
    9.2 [**Limitations**](#Section92)<br>
    9.3 [**Actionable Insights**](#Section93)<br>
    9.4 [**Recommendations for further analysis**](#Section94)<br>

---
<a name = Section1></a>
# **1. Introduction**
---

**Company Introduction - AE Corp**

Our client for this project is a retail banking institution.

- They are going to float a stock trading facility for their existing customers.
- The idea is to use data to classify whether a customer belongs to a high net worth or low net worth group.
- They will have to incentivize their customers to adopt their offerings.
- One way to incentivize could be to offer discounts on the commission for trading transactions.

**Current Scenario**

The company rolled out this service to about 10,000+ of its customers and observed their trading behavior for 6 months and after that, they labeled them into two revenue grids 1 and 2.

---
<a name = Section2></a>
# **2. Problem Statement**
---

The current process suffers from the following problems:

- Only about 10% of the customers do enough trades for earnings after discounts to be profitable.
- The company wants to figure out, which are those 10% customers so that it can selectively offer them a discount.

<a name = Section21></a>
### **2.1 Project Details**

- Co-ordinating with - The marketing department to supplement their campaigns with a more proactive approach.

- Our Role - To build a classification model using the datasets.

- Project Deliverables - Predict whether a customer belongs to a high net worth or low net worth group.

- Machine Learning Task: Classification

- Target Variable: Status (high net worth (1) / low net worth (2))

- Win Condition - No machine learning model in the company for this currently, therefore no quantifiable win condition. We just need to build the best possible model.

- Evaluation Metric - The model evaluation will be based on the F1 Score score.

---
<a id = Section3></a>
# **3. Installing & Importing Libraries**

<a name = Section31></a>
### **3.1 Installing Libraries**

In [52]:
!pip install -q datascience                                         # Package that is required by pandas profiling
!pip install -q pandas-profiling                                    # Library to generate basic statistics about data
!pip install -q scikit-learn
!pip install -q matplotlib seaborn bokeh plotly

<a name = Section31></a>
### **3.2 Upgrading Libraries**

In [53]:
!pip install -q --upgrade pandas-profiling
!pip install -q --upgrade scikit-learn

In [54]:
# Runtime Restart Reminder

print('\n' + 'Libraries Upgraded please restart runtime')
print('\n' + '-'*45)

Libraries Upgraded please restart runtime

---------------------------------------------

<a name = Section31></a>
### **3.3 Importing Libraries**

In [55]:
#-------------------------------------------------------------------------------------------------------------------------------
import pandas as pd                                                 # Importing package pandas (For Panel Data Analysis)
pd.set_option('display.max_columns', None)                          # Unfolding hidden features if the cardinality is high
pd.set_option('display.max_colwidth', None)                         # Unfolding the max feature width for better clearity
pd.set_option('display.max_rows', None)                             # Unfolding hidden data points if the cardinality is high
pd.set_option('mode.chained_assignment', None)                      # Removing restriction over chained assignments operations
pd.set_option('display.float_format', lambda x: '%.2f' % x)          # To suppress scientific notation over exponential values 
#-------------------------------------------------------------------------------------------------------------------------------
from ydata_profiling import ProfileReport                           # Import Pandas Profiling (To generate Univariate Analysis)
#-------------------------------------------------------------------------------------------------------------------------------
import numpy as np                                                  # Importing package numpys (For Numerical Python)
np.set_printoptions(precision=2, suppress=True)
#-------------------------------------------------------------------------------------------------------------------------------
import matplotlib.pyplot as plt                                     # Importing pyplot interface to use matplotlib
import seaborn as sns                                               # Importing seaborn library for interactive visualization
%matplotlib inline
#-------------------------------------------------------------------------------------------------------------------------------
from sklearn.metrics import precision_recall_curve                  # For precision and recall metric estimation
from sklearn.metrics import classification_report                   # To generate complete report of evaluation metrics
from sklearn.metrics import confusion_matrix                        # To plot confusion matrix 
#-------------------------------------------------------------------------------------------------------------------------------
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split                # To split the data in training and testing part     
from sklearn.linear_model import LogisticRegression
#-------------------------------------------------------------------------------------------------------------------------------
from ipywidgets import interact                                     # Creates UI controls for exploring code and data
import warnings                                                     # Importing warning to disable runtime warnings
warnings.filterwarnings("ignore")                                   # Warnings will appear only once

---
<a name = Section4></a>
# **4. Data Acquisition & Description**
---

We are provided with a dataset containing all the necessary information about the customers like their occupation, family income, gender, region, balance transfer, children, etc.

Also included in the dataset is the column Revenue_Grid which classifies the customers into high net worth customers (1) and low net worth customers (2).

This is the data that we have to predict for future customers.

---

Train Set: The train set contains 8124 rows and 32 columns.The last column Revenue_Grid is the target variable.

Test Set: The test set contains 2031 rows and 31 columns.The test set doesnâ€™t contain the Revenue_Grid column which need to be predicted

The Dataset contains the following columns:


|Id|Feature|Description|
|:--|:--|:--|
|01|REF_NO| Reference Number of the customer.|
|02|children|Number of children each customer has.|
|03|Age_band|Age Group to which the customer belongs.|
|04|status|Marital Status of the customer.|
|05|occupation|Job or profession of the customer.|
|06|occupation_partner|Job or profession of the customer's partner.|
|07|home_status|Home Status of the customers.|
|08|family_income|Income Range of the customer's family.|
|09|self_employed|Whether self-employed or not.|
|10|self_employed_partner|Whether the partner self-employed or not.|
|11|year_last_moved|Moving Year from the last location of the customer.|
|12|TVarea|Television Region of the customer.|
|13|post_code|Postal Code of the customer.|
|14|post_area|Postal Area of the customer.|
|15|Average_Credit_Card_Transaction|Average Credit Card Transaction per year by the customer.|
|16|Balance_Transfer|Transfer of the Balance in an account to another account by the customer.|
|17|Term_Deposit|Cash Investment Help at Financial Institute provided to the customer.|
|18|Life_Insurance|Basic Life Insurance Coverage of the customer.|
|19|Medical_Insurance|Medical Insurance Coverage of the customer.|
|20|Average_A/C_Balance|Average Balance in the account of the customer.|
|21|Personal_Loan|Amount of Personal Loan taken by the customer.|
|22|Investment_in_Mutual_Fund|Amount Invested in Mutual Funds by the customer.|
|23|Investment_Tax_Saving_Bond|Amount Invested in Tax Saving Bond by the customer.|
|24|Home_Loan|Amount of Home Loan taken by the customer.|
|25|Online_Purchase_Amount|Amount spent by the customer on online purchases.|
|26|gender|Gender of the customer.|
|27|region|Religion of the customer.|
|28|Investment_in_Commudity|Amount Invested in Commodity by the customer.|
|29|Investment_in_Equity|Amount Invested in Equity by the customer.|
|30|Investment_in_Derivative|Amount Invested in Derivatives by the customer.|
|31|Portfolio_Balance|Balanced Investment Strategy of the customer.|
|32|Revenue_Grid|Grid report of the customers.|

In [56]:
# Acquiring Data from "https://raw.githubusercontent.com/Mihir-Ai-lab/Academic-Projects/main/ML%20Projects/AE%20Corp"

print('\n' + '-'*25 + '\n')
print('Acquiring Data' + '\n' + 'Loaded Dataset: df_train & df_test')
print('\n' + '-'*25 + '\n')

df_train = pd.read_csv(filepath_or_buffer = 'https://raw.githubusercontent.com/Mihir-Ai-lab/Insaid/main/ML%20Projects/AE%20Corp/existing_base_train.csv')
df_test = pd.read_csv(filepath_or_buffer = 'https://raw.githubusercontent.com/Mihir-Ai-lab/Insaid/main/ML%20Projects/AE%20Corp/existing_base_test.csv')

# Checking Shape & Head

print('Training Data Shape:',df_train.shape)
print('Test Data Shape:',df_test.shape)
print('\n' + '-'*25 + '\n')
print('Training Data Head')
print('\n' + '-'*10 + '\n')
df_train.head(10)

-------------------------

Acquiring Data
Loaded Dataset: df_train & df_test

-------------------------

Training Data Shape: (8124, 32)
Test Data Shape: (2031, 31)

-------------------------

Training Data Head

----------

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,year_last_moved,TVarea,post_code,post_area,Average_Credit_Card_Transaction,Balance_Transfer,Term_Deposit,Life_Insurance,Medical_Insurance,Average_A/C_Balance,Personal_Loan,Investment_in_Mutual_Fund,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,gender,region,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance,Revenue_Grid
0,5466,2,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,1981,Meridian,M51 0GU,M51,26.98,29.99,312.25,299.79,88.72,108.85,175.43,134.35,8.98,55.44,7.68,Female,North West,151.55,81.79,136.02,360.37,2
1,9091,Zero,45-50,Partner,Secretarial/Admin,Professional,Own Home,">=35,000",No,No,1997,Meridian,L40 2AG,L40,35.98,74.48,0.00,99.96,10.99,48.45,15.99,0.00,0.00,0.00,18.99,Female,North West,44.28,13.91,29.23,89.22,2
2,9744,1,36-40,Partner,Manual Worker,Manual Worker,Rent Privately,"<22,500, >=20,000",Yes,Yes,1996,HTV,TA19 9PT,TA19,0.00,24.46,0.00,18.44,0.00,0.00,0.02,10.46,0.00,0.00,0.00,Female,South West,8.58,1.75,4.82,14.50,2
3,10700,2,31-35,Partner,Manual Worker,Manual Worker,Own Home,"<25,000, >=22,500",No,No,1990,Scottish TV,FK2 9NG,FK2,44.99,0.00,0.00,0.00,29.99,0.00,0.00,0.00,0.00,0.00,0.00,Female,Scotland,15.00,0.00,5.00,68.98,2
4,1987,Zero,55-60,Partner,Housewife,Professional,Own Home,">=35,000",No,No,1989,Yorkshire,LS23 7DJ,LS23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,9.98,0.00,0.00,0.00,Female,Unknown,0.00,1.66,1.66,1.88,2
5,3309,Zero,45-50,Partner,Secretarial/Admin,Business Manager,Own Home,">=35,000",No,No,1984,Ulster,BT17 9NA,BT17,9.49,0.01,0.00,0.51,55.89,0.00,28.98,0.00,0.00,0.00,0.00,Female,Northern Ireland,13.18,4.83,14.23,33.62,2
6,6610,Zero,36-40,Partner,Secretarial/Admin,Secretarial/Admin,Own Home,"<30,000, >=27,500",Yes,No,1986,Central,B62 8TF,B62,9.99,0.00,0.00,0.00,0.00,26.96,22.99,80.42,1.00,3.99,5.49,Female,West Midlands,2.00,23.48,21.90,13.12,2
7,10621,Zero,61-65,Partner,Retired,Retired,Own Home,"<20,000, >=17,500",No,No,1998,Granada,PR8 2TY,PR8,0.00,0.00,0.00,0.00,0.00,0.00,0.00,29.95,0.00,0.00,0.00,Male,North West,0.00,4.99,4.99,15.74,2
8,2630,1,45-50,Partner,Professional,Professional,Own Home,">=35,000",No,No,1980,Unknown,CF15 9TH,CF15,0.00,82.96,0.00,40.47,12.49,0.00,28.97,0.00,0.00,0.00,0.00,Female,Unknown,27.18,4.83,13.66,36.05,2
9,9356,3,36-40,Partner,Professional,Housewife,Own Home,"<27,500, >=25,000",Yes,No,1997,Meridian,M13 9BG,M13,0.00,0.00,0.00,0.00,0.00,0.00,15.99,0.00,24.47,0.00,0.00,Male,North West,0.00,6.74,6.74,8.60,2

<a name = Section42></a>
### **4.2 Data Description**

In [57]:
df_train.describe()

,REF_NO,year_last_moved,Average_Credit_Card_Transaction,Balance_Transfer,Term_Deposit,Life_Insurance,Medical_Insurance,Average_A/C_Balance,Personal_Loan,Investment_in_Mutual_Fund,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance,Revenue_Grid
count,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00,8124.00
mean,5797.34,1967.88,23.25,46.08,27.28,65.32,18.83,31.84,25.42,41.72,6.06,4.42,19.20,36.15,21.44,31.53,89.35,1.89
std,3322.50,182.56,51.15,79.08,54.13,95.76,32.02,45.25,85.13,64.42,12.67,9.95,92.34,42.47,32.26,39.48,108.30,0.31
min,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-78.43,1.00
25%,2924.75,1978.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,8.28,4.66,8.74,26.28,2.00
50%,5811.50,1988.00,0.00,17.48,0.00,31.48,0.01,14.98,0.00,23.48,0.00,0.00,0.00,23.59,12.82,21.14,65.56,2.00
75%,8681.50,1994.00,23.48,64.99,34.49,92.89,26.97,45.92,20.83,59.44,5.49,4.49,7.48,49.80,27.97,42.39,123.97,2.00
max,11518.00,1999.00,662.26,2951.76,784.82,2930.41,591.04,626.24,4905.93,2561.27,156.87,162.35,4306.42,1231.09,1279.10,1771.16,4283.56,2.00

<a name = Section43></a>
### **4.3 Data Information**

In [58]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REF_NO                           8124 non-null   int64
 1   children                         8124 non-null   object
 2   age_band                         8124 non-null   object
 3   status                           8124 non-null   object
 4   occupation                       8124 non-null   object
 5   occupation_partner               8124 non-null   object
 6   home_status                      8124 non-null   object
 7   family_income                    8124 non-null   object
 8   self_employed                    8124 non-null   object
 9   self_employed_partner            8124 non-null   object
 10  year_last_moved                  8124 non-null   int64
 11  TVarea                           8124 non-null   object
 12  post_code                        8124 non-null   object
 13  post_area                        8124 non-null   object
 14  Average_Credit_Card_Transaction  8124 non-null   float64
 15  Balance_Transfer                 8124 non-null   float64
 16  Term_Deposit                     8124 non-null   float64
 17  Life_Insurance                   8124 non-null   float64
 18  Medical_Insurance                8124 non-null   float64
 19  Average_A/C_Balance              8124 non-null   float64
 20  Personal_Loan                    8124 non-null   float64
 21  Investment_in_Mutual_Fund        8124 non-null   float64
 22  Investment_Tax_Saving_Bond       8124 non-null   float64
 23  Home_Loan                        8124 non-null   float64
 24  Online_Purchase_Amount           8124 non-null   float64
 25  gender                           8124 non-null   object
 26  region                           8124 non-null   object
 27  Investment_in_Commudity          8124 non-null   float64
 28  Investment_in_Equity             8124 non-null   float64
 29  Investment_in_Derivative         8124 non-null   float64
 30  Portfolio_Balance                8124 non-null   float64
 31  Revenue_Grid                     8124 non-null   int64
dtypes: float64(15), int64(3), object(14)
memory usage: 2.0+ MB

---
<a name = Section5></a>
# **5. Data Pre-Profiling**

In [59]:
# Detailed Profile Report of training Data for univariate analysis

profile = ProfileReport(df=df_train) 

print('\n' + '-'*40 + '\n')
print('AE Corp Pre-profile Report Generated')
print('\n' + '-'*40 + '\n')

----------------------------------------

AE Corp Pre-profile Report Generated

----------------------------------------

In [60]:
#Loading profile report to file for record keeping

profile.to_file("AEcorp_preprofile_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

---
<a name = Section6></a>
# **6. Data Pre-Processing**

In [61]:
# Making a copy of the Dataset incase it needs to be reffered back to
df_train_og = df_train.copy(deep=True)
df_test_og = df_train.copy(deep=True)

In [62]:
# Define a dictionary to map the old column names to new standardized column names

column_names = {
    'REF_NO': 'ref_no',
    'children': 'num_children',
    'Age_band': 'age_group',
    'status': 'marital_status',
    'TVarea': 'tv_region',
    'post_code': 'postcode',
    'Average_Credit_Card_Transaction': 'avg_credit_card_txn',
    'Balance_Transfer': 'balance_transfer',
    'Term_Deposit': 'term_deposit',
    'Life_Insurance': 'life_insurance',
    'Medical_Insurance': 'medical_insurance',
    'Average_A/C_Balance': 'avg_account_balance',
    'Personal_Loan': 'personal_loan',
    'Investment_in_Mutual_Fund': 'mutual_fund_investment',
    'Investment_Tax_Saving_Bond': 'tax_saving_bond_investment',
    'Home_Loan': 'home_loan',
    'Online_Purchase_Amount': 'online_purchase_amount',
    'Investment_in_Commudity': 'commodity_investment',
    'Investment_in_Equity': 'equity_investment',
    'Investment_in_Derivative': 'derivative_investment',
    'Portfolio_Balance': 'portfolio_balance',
    'Revenue_Grid': 'net_worth'
}

# Rename the columns of the train and test datasets
df_train = df_train.rename(columns=column_names)
df_test = df_test.rename(columns=column_names)

In [63]:
# Extracting Categorical & Numerical columns to perform further analysis & cleaning

categorical_cols_train = df_train.select_dtypes('object').columns
numerical_cols_train = df_test.select_dtypes(['int', 'float']).columns

categorical_cols_test = df_train.select_dtypes('object').columns
numerical_cols_test = df_test.select_dtypes(['int', 'float']).columns

# Checking Unique Values in Dataset by taking a sample of and displaying few unique values from it.
# Frequent re-runs can help finding some datapoints of relevance to research.

print('\n' + 'Having a look at unique Values in each Column')
print('\n' + '-'*50 + '\n')

for col in df_train.columns:
    unique_vals = df_train[col].unique()
    num_unique = len(unique_vals)
        
    print("Column Name: {}\n".format(col))
    if col in categorical_cols_train:
        print("Data Type: Categorical | Unique Values: {}\n".format(num_unique))
        print(unique_vals[:])
    else:
        print("Data Type: Numerical | Unique Values: {}\n".format(num_unique))
        print(df_train[col].sample(300).unique()[:10])
        
    print('\n' + '-'*70 + '\n')

Having a look at unique Values in each Column

--------------------------------------------------

Column Name: ref_no

Data Type: Numerical | Unique Values: 8124

[7970 4965 5400 3630 8447 3252 9491 8514 9244 9734]

----------------------------------------------------------------------

Column Name: num_children

Data Type: Categorical | Unique Values: 5

['2' 'Zero' '1' '3' '4+']

----------------------------------------------------------------------

Column Name: age_band

Data Type: Categorical | Unique Values: 13

['31-35' '45-50' '36-40' '55-60' '61-65' '65-70' '41-45' '51-55' '26-30'
 '22-25' '71+' 'Unknown' '18-21']

----------------------------------------------------------------------

Column Name: marital_status

Data Type: Categorical | Unique Values: 5

['Partner' 'Divorced/Separated' 'Single/Never Married' 'Widowed' 'Unknown']

----------------------------------------------------------------------

Column Name: occupation

Data Type: Categorical | Unique Values: 9

['Professional' 'Secretarial/Admin' 'Manual Worker' 'Housewife' 'Retired'
 'Other' 'Unknown' 'Business Manager' 'Student']

----------------------------------------------------------------------

Column Name: occupation_partner

Data Type: Categorical | Unique Values: 9

['Professional' 'Manual Worker' 'Business Manager' 'Secretarial/Admin'
 'Retired' 'Housewife' 'Unknown' 'Other' 'Student']

----------------------------------------------------------------------

Column Name: home_status

Data Type: Categorical | Unique Values: 5

['Own Home' 'Rent Privately' 'Rent from Council/HA' 'Live in Parental Hom'
 'Unclassified']

----------------------------------------------------------------------

Column Name: family_income

Data Type: Categorical | Unique Values: 13

['>=35,000' '<22,500, >=20,000' '<25,000, >=22,500' '<30,000, >=27,500'
 '<20,000, >=17,500' '<27,500, >=25,000' '< 4,000' '<15,000, >=12,500'
 '<17,500, >=15,000' '< 8,000, >= 4,000' '<12,500, >=10,000'
 '<10,000, >= 8,000' 'Unknown']

----------------------------------------------------------------------

Column Name: self_employed

Data Type: Categorical | Unique Values: 2

['No' 'Yes']

----------------------------------------------------------------------

Column Name: self_employed_partner

Data Type: Categorical | Unique Values: 2

['No' 'Yes']

----------------------------------------------------------------------

Column Name: year_last_moved

Data Type: Numerical | Unique Values: 94

[1995 1984 1978 1988 1973 1990 1996 1966 1981 1997]

----------------------------------------------------------------------

Column Name: tv_region

Data Type: Categorical | Unique Values: 14

['Meridian' 'HTV' 'Scottish TV' 'Yorkshire' 'Ulster' 'Central' 'Granada'
 'Unknown' 'Carlton' 'Border' 'Tyne Tees' 'Anglia' 'TV South West'
 'Grampian']

----------------------------------------------------------------------

Column Name: postcode

Data Type: Categorical | Unique Values: 8050

['M51 0GU' 'L40 2AG' 'TA19 9PT' ... 'BT28 1DX' 'CT10 2JF' 'TS16 0HG']

----------------------------------------------------------------------

Column Name: post_area

Data Type: Categorical | Unique Values: 1937

['M51' 'L40' 'TA19' ... 'NE20' 'IV32' 'SS4']

----------------------------------------------------------------------

Column Name: avg_credit_card_txn

Data Type: Numerical | Unique Values: 1209

[ 0.   68.96  7.99 19.48 44.49 85.44 24.49 14.49 19.99  7.49]

----------------------------------------------------------------------

Column Name: balance_transfer

Data Type: Numerical | Unique Values: 1860

[ 64.96   0.05  24.99   0.01   0.     0.02 115.91  74.48  29.99  11.99]

----------------------------------------------------------------------

Column Name: term_deposit

Data Type: Numerical | Unique Values: 1215

[149.41   0.    58.98  59.49  19.99   0.53  49.98 149.44  43.98  24.99]

----------------------------------------------------------------------

Column Name: life_insurance

Data Type: Numerical | Unique Values: 2655

[  0.   570.12 301.86  39.98  55.23  71.97  50.45 147.41  53.98   0.01]

----------------------------------------------------------------------

Column Name: medical_insurance

Data Type: Numerical | Unique Values: 1362

[10.99  0.    6.98 42.44 29.99 45.48 58.95 44.98 24.48 55.48]

----------------------------------------------------------------------

Column Name: avg_account_balance

Data Type: Numerical | Unique Values: 1923

[42.95 89.42  0.    6.48 69.46 19.49 16.93 14.49 28.49 66.92]

----------------------------------------------------------------------

Column Name: personal_loan

Data Type: Numerical | Unique Values: 1477

[ 40.97   0.    19.49  27.99 112.19   5.99  11.99 223.27  11.48  14.98]

----------------------------------------------------------------------

Column Name: mutual_fund_investment

Data Type: Numerical | Unique Values: 2130

[  0.     2.51  18.98  23.48 142.38  32.87  16.    48.97 121.41 471.03]

----------------------------------------------------------------------

Column Name: tax_saving_bond_investment

Data Type: Numerical | Unique Values: 718

[21.23 39.49  0.   29.99  8.72 13.47 27.21 84.09 15.47 24.98]

----------------------------------------------------------------------

Column Name: home_loan

Data Type: Numerical | Unique Values: 760

[ 4.99  0.    2.75  1.   29.95  8.   12.98 23.96  6.99  4.49]

----------------------------------------------------------------------

Column Name: online_purchase_amount

Data Type: Numerical | Unique Values: 1128

[  0.   124.99  20.98  15.98  17.48  83.48 278.45   9.57  11.99   0.99]

----------------------------------------------------------------------

Column Name: gender

Data Type: Categorical | Unique Values: 3

['Female' 'Male' 'Unknown']

----------------------------------------------------------------------

Column Name: region

Data Type: Categorical | Unique Values: 13

['North West' 'South West' 'Scotland' 'Unknown' 'Northern Ireland'
 'West Midlands' 'South East' 'East Midlands' 'North' 'East Anglia'
 'Wales' 'Isle of Man' 'Channel Islands']

----------------------------------------------------------------------

Column Name: commodity_investment

Data Type: Numerical | Unique Values: 3081

[  3.6    2.9   16.78  78.55  17.59 219.68  55.58 124.15   3.1   43.07]

----------------------------------------------------------------------

Column Name: equity_investment

Data Type: Numerical | Unique Values: 2812

[ 9.99 32.08 45.05 18.49  9.91 51.91  0.    9.57 57.2  38.12]

----------------------------------------------------------------------

Column Name: derivative_investment

Data Type: Numerical | Unique Values: 3269

[122.65  12.66  30.4   15.82  69.    27.07  28.65  48.39   3.99  20.65]

----------------------------------------------------------------------

Column Name: portfolio_balance

Data Type: Numerical | Unique Values: 6884

[ 77.18 134.36  -0.51   7.8   47.44 123.89  33.42  70.77  78.38  62.21]

----------------------------------------------------------------------

Column Name: net_worth

Data Type: Numerical | Unique Values: 2

[2 1]

----------------------------------------------------------------------

In [64]:
# Function to replace Unknown, Unclassified, Other & 0's with NaNs
def replace_unknown_with_nan(df, columns):
    for col in columns:
        df[col] = df[col].replace({'Unknown','Unclassified','Other','Zero','zero', 0 }, np.nan)
    return df

# Replacing Unknown & Unclassified with NaNs in categorical columns
df_train = replace_unknown_with_nan(df_train, categorical_cols_train)
df_test = replace_unknown_with_nan(df_test, categorical_cols_test)

# Replacing Unknown & Unclassified with NaNs in numerical columns
df_train = replace_unknown_with_nan(df_train, numerical_cols_train)
df_test = replace_unknown_with_nan(df_test, numerical_cols_test)

In [65]:
print(df_train.isnull().sum())

ref_no                           0
num_children                  4991
age_band                        44
marital_status                  40
occupation                     881
occupation_partner            2203
home_status                     44
family_income                  108
self_employed                    0
self_employed_partner            0
year_last_moved                 69
tv_region                      154
postcode                         0
post_area                        0
avg_credit_card_txn           4989
balance_transfer              3524
term_deposit                  4587
life_insurance                2454
medical_insurance             4046
avg_account_balance           2806
personal_loan                 5134
mutual_fund_investment        2602
tax_saving_bond_investment    5133
home_loan                     5609
online_purchase_amount        5700
gender                          31
region                         866
commodity_investment           825
equity_investment              915
derivative_investment          445
portfolio_balance                0
net_worth                        0
dtype: int64

In [66]:
# Combine df_train and df_test for region and post_area dictionary
combined_df = pd.concat([df_train[['region', 'post_area']], df_test[['region', 'post_area']]])

# Drop duplicates and remove rows with null region values
combined_df = combined_df.drop_duplicates().dropna(subset=['region'])

# Create a dictionary using the existing region and post_area values
region_post_area_dict = combined_df.set_index('post_area')['region'].to_dict()

# Check for multiple regions per post_area
post_areas_regions = combined_df.groupby('post_area').count()
multiple_regions = post_areas_regions[post_areas_regions['region'] > 1]

print("\nPost areas with multiple regions:")
print(multiple_regions)

Post areas with multiple regions:
Empty DataFrame
Columns: [region]
Index: []

In [67]:
def impute_region(row, region_dict):
    region = row['region']
    post_area = row['post_area']

    if pd.isna(region):
        if post_area in region_dict:
            region = region_dict[post_area]
        else:
            region = 'Unknown'

    return region

In [68]:
# Function to impute missing values in the 'occupation' column based on the 'age_band' and 'self_employed' columns.

def impute_occupation(row):
    occupation = row['occupation']
    age_band = row['age_band']
    self_employed = row['self_employed']

    if pd.isna(occupation):
        if age_band in ['65-70', '71+']:
            occupation = 'Retired'
        elif self_employed == 'Yes':
            occupation = 'Business Manager'
        else:
            occupation = 'Professional'

    return occupation

In [69]:
# Function to impute missing values in the 'occupation_partner' column based on'self_employed_partner' columns.

def impute_occupation_partner(row):
    occupation_partner = row['occupation_partner']
    self_employed_partner = row['self_employed_partner']

    if pd.isna(occupation_partner):
        if self_employed_partner == 'Yes':
            occupation_partner = 'Business Manager'
        else:
            occupation_partner = 'Professional'

    return occupation_partner

In [70]:
# Creating function for Data Pre-processing

def preprocess_data(df):
    # 1. Replace and fill missing values in num_children column
    df['num_children'] = df['num_children'].replace({'4+': 4}).fillna(0).astype(int)

    # 2. Impute missing values in age_band
    age_band_mode = df['age_band'].mode().iloc[0]
    df['age_band'] = df['age_band'].mask((df['age_band'].isnull()) & (df['occupation'] == 'Retired'), '71+').fillna(age_band_mode)

    # 3. Impute missing values in occupation
    df['occupation'] = df.apply(impute_occupation, axis=1)

    # 4. Impute missing values in occupation_partner
    df['occupation_partner'] = df.apply(impute_occupation_partner, axis=1)

    # 5. Fill missing values for columns marital_status, home_status, family_income, and year_last_moved
    for col in ['marital_status','home_status', 'family_income', 'year_last_moved']:
        df[col] = df[col].fillna(df[col].mode().iloc[0])

    # 6. Fill missing values in the region column
    df['region'] = df.apply(impute_region, args=(region_post_area_dict,), axis=1)

    # 7. Replace gender NaNs with 'Unknown'
    df['gender'] = df['gender'].fillna('Unknown')    
    
    # 8. Merging life_insurance and medical_insurance into insurance column
    df['insurance'] = df['life_insurance'].fillna(0) + df['medical_insurance'].fillna(0)
    df.drop(columns=['life_insurance', 'medical_insurance'], inplace=True)

    # 9. Merging personal_loan and home_loan into loan column
    df['loan'] = df['personal_loan'].fillna(0) + df['home_loan'].fillna(0)
    df.drop(columns=['personal_loan', 'home_loan'], inplace=True)
    
    # 10. Merge mutual_fund_investment and tax_saving_bond_investment into sip_investments column
    df['sip_investments'] = df['mutual_fund_investment'].fillna(0) + df['tax_saving_bond_investment'].fillna(0)
    df.drop(columns=['mutual_fund_investment', 'tax_saving_bond_investment'], inplace=True)

    # 11. Merging 'commodity_investment', 'equity_investment', and 'derivative_investment' into 'lumpsum_investments'
    df['lumpsum_investments'] = df['commodity_investment'].fillna(0) + df['equity_investment'].fillna(0) + df['derivative_investment'].fillna(0)
    df.drop(columns=['commodity_investment', 'equity_investment', 'derivative_investment'], inplace=True)

    # 12. Club 'online_purchase_amount' and 'avg_credit_card_txn'
    df['combined_purchase'] = df['online_purchase_amount'].fillna(0) + df['avg_credit_card_txn'].fillna(0)
    df.drop(columns=['online_purchase_amount', 'avg_credit_card_txn'], inplace=True)

    # 13. Replace NaN values in 'balance_transfer', 'term_deposit', and 'avg_account_balance' with 0
    df[['balance_transfer', 'term_deposit', 'avg_account_balance']] = df[['balance_transfer', 'term_deposit', 'avg_account_balance']].fillna(0)

    # 14. Drop unnecessary columns
    df.drop(columns=['tv_region', 'postcode', 'post_area', 'ref_no'], inplace=True)

    return df

In [71]:
# Apply the preprocess_data function to both the training and test dataframes

df_train = preprocess_data(df_train)
df_test = preprocess_data(df_test)

# Resetting Numerical and Categorical columns after pre=processing

categorical_cols_train = df_train.select_dtypes('object').columns
numerical_cols_train = df_test.select_dtypes(['int', 'float']).columns

categorical_cols_test = df_train.select_dtypes('object').columns
numerical_cols_test = df_test.select_dtypes(['int', 'float']).columns

---
<a name = Section7></a>
# **7. Data Post-Profiling**
---

- Getting a report about the data after the data manipulation.

In [72]:
# Profile Report of Cleaned Dataset

profile = ProfileReport(df=df_train) 
print('\n' + '-'*40 + '\n')
print('AE Corp Post-profile Report Generated')

----------------------------------------

AE Corp Post-profile Report Generated

In [73]:
# Loading profile report to file for record keeping

profile.to_file("AEcorp_postprofile_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

---
<a name = Section8></a>
# **8. Exploratory Data Analysis**
---